{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">{{ project_author }}</h1>
    <hr>
    <img src="{{asset('build/images/image1.a070a22c.jpg')}}" alt="80s">
	
{% endblock %}
